h1{
    font-family: 'Inconsolata', monospace;
}
.jumbotron{
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 0px;
}
.jumbo1{
    background-image: url(https://images.pexels.com/photos/34296/sunset-mood-sun-afterglow.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
}
.jumbo2{
    background-image: url(https://images.pexels.com/photos/3774243/pexels-photo-3774243.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}
.jumbo3{
    background-image: url(https://images.pexels.com/photos/2545312/pexels-photo-2545312.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}
.jumbo4{
    background-image: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
}
.jumbo5{
    background-image: url(https://images.pexels.com/photos/624015/pexels-photo-624015.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
}
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
footer{
    background-color: red;
    height: 250px;
}
.contact{
    font-weight: bolder;
    color: white;
}